.flex-c {
    display: flex;
    align-items: center;
}
.flex-fs-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-fs-sb {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.flex-fs-sb-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-col-fs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-col-fe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}